<main class="container">
  <%= link_to sanitize("&larr; Back to tasks"), category_tasks_path %>

  <div class="header">
    <h1>Edit task</h1>
  </div>

  <%= render "editform", category_task: @category_task %>
</main>


