<nav class="navbar fixed-top navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <a class="navbar-brand"><%= image_tag asset_path('logo.png') , style: 'width:40px;margin-right:5px;'%> Journal App</a>

      <div class="d-flex align-items-center">
        <% if current_user %>
        <%# button_to "Dashboard", root_path , :class=>"btn btn-light bg-gradient m-1" %>
        <%= link_to "Dashboard",root_path, class: "btn btn-light border border-light mr-1" %>
          <%= button_to "Logout", logout_path ,method: :delete, :class=>"btn btn-light border border-light m-1" %>
          <span class="text-info m-2"> Online : <%= current_user.name %> </span>
          <% else %>
          <%# button_to "Login", login_path,:class=>"btn btn-warning m-1" %>
          <a class="btn btn-warning m-1" href="/login">Login </a>
        <% end %>
      </div>
      

  </div>
</nav>

