
  <tr class="d-flex flex-row align-items-center ">
    <td>
      <th><%= link_to category.category_name, category_path(category)  %></th>
    </td>
   
    <td class=" d-flex flex-row align-items-center justify-content-end">
      <%= link_to "Edit", edit_category_path(category)  %>
      <%= button_to "Del", category, method: :delete ,
      class: "btn btn-link" %>
    </td>
  </tr>
